.donation-section {
  text-align: center;
  padding: 20px;
  background-color: #EDE7F6; /* Mismo color que el board */
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(123, 31, 162, 0.2);
  margin: 2rem auto;
  max-width: 800px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.donation-section::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2), transparent);
  animation: rotate-bg 6s linear infinite;
  z-index: 0;
}

@keyframes rotate-bg {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.donation-section:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.donation-section h3 {
  color: #4A148C;
  font-weight: bold;
  z-index: 1;
  position: relative;
}

.donation-section p {
  z-index: 1;
  position: relative;
}

.donation-section a {
  margin-right: 10px;
  text-decoration: none;
  color: #4A148C;
  font-weight: bold;
  z-index: 1;
  position: relative;
  padding: 10px 20px;
  border: 2px solid #4A148C;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.donation-section a:hover {
  background-color: #4A148C;
  color: white;
}